logging:
  level:
    root: WARN
    az.baxtiyargil.commerce.auth.adapter.out.client: INFO

spring:
  application:
    name: ms-auth
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs

keycloak:
  server-url: ${KEYCLOAK_URL:http://localhost:8180}
  realm: ${KEYCLOAK_REALM:auth-app}
  client-id: ${KEYCLOAK_CLIENT_ID:auth-service-client}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

auth:
  hmac:
    secret: ${AUTH_HMAC_SECRET}
  context:
    ttl-seconds: 30
  gateway:
    api-key: ${GATEWAY_API_KEY}

server:
  port: 8075
